.sidebar-card .card-title {
  font-size: 0.9rem;
  font-weight: 500;
}
.sidebar-card h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.sidebar-card .cardDiv {
  margin-bottom: 12px;
}
.spanLLast {
  background-color: RGB(252, 227, 188);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}
.lastest {
  font-weight: 600;

  margin-left: 5px;
}

.rompicapo-row {
  display: flex;
  align-items: center;
  gap: 12px;
}
