body {
  background-color: #f4f2ee !important;
}

.container {
  max-width: 1200px !important;
  margin-inline: auto !important;
}

/* Navbar style */

/* .navbar-linkedin .nav-link {
  padding-left: 40px !important;
  padding-right: 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.navbar-linkedin .nav-link {
  padding: 3px;
}

.navbar-linkedin .nav-link-label {
  font-size: 14px;
}

.navbar-search-input {
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 4px !important;
  padding-left: 35px !important;
  font-size: 14px;
}

.navbar-search-input::placeholder {
  color: #5e5e5e;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #2b2b2b;
  z-index: 3;
  font-size: 0.9rem;
  pointer-events: none;
}

.nav-separator {
  background-color: #e0e0e0;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.nav-link-premium {
  color: #915907;
  font-size: 0.8rem;
}
/* Sidebar style */

.sidebar-card {
  margin-bottom: 1rem;
}

.sidebar-link {
  font-size: 1rem;
  cursor: pointer;
}

.sidebar-link-eventi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-add-btn {
  float: right;
  color: #196cc0 !important;
  text-decoration: none !important;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1;
}

.sidebar-discover-btn {
  font-weight: 600;
  font-size: 1rem;
  color: #636161 !important;
}

.app-main-container {
  display: flex;
  justify-content: center;
  background: #f3f2ef;
  min-height: 100vh;
  padding-top: 35px;
}

.app-main-content {
  max-width: 700px;
}

.app-sidebar {
  width: 280px;
}
/* cards-main-sections */
.card-footer {
  background-color: white !important;
  color: #404040 !important;
}

.card-footer:hover {
  background-color: #f3f3f3 !important;
}

.suggested-profile-item {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.suggested-profile-img {
  object-fit: cover;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbar-search-fixed {
    width: 210px !important;
    min-width: 0;
    max-width: none;
  }
}

.card-footer {
  background-color: white;
}

.card-footer:hover {
  background-color: #f3f3f3;
}

/* Tabs style Interests Section */

.custom-interest-tabs .nav-link {
  border: none !important;
  color: #404040;
  font-weight: 600;
  padding-bottom: 0.75rem;
  margin-right: 1rem;
  position: relative;
  background-color: transparent !important;
}

.custom-interest-tabs .nav-link:hover {
  color: #34383b;
  background-color: #f3f3f3 !important;
}

.custom-interest-tabs .nav-link.active {
  color: #198754 !important;
  border-bottom: 2px solid #198754 !important;
}

.custom-interest-tabs .nav-link:focus,
.custom-interest-tabs .nav-link:active {
  outline: none;
  box-shadow: none;
}
